*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{

}

header{
    height: 150px;
    background-color: rgba(189, 186, 186, 0.5);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav{
   float: right;
   position: relative;
   bottom: 80px;
}
.nav_list{
    display: flex;
    list-style: none;
    transition: 0.8s;
}

.nav_items{
    padding: 6px;
    margin-right: 30px;
    background-color: rgb(246, 245, 245);
    border-radius: 5px;
    transition: background-color 0.8s ease;
}
 
nav ul li a{
   text-decoration: none;
    color: black;
    transition: 1s;
}
nav ul li a:hover{
    text-decoration: none;
     color: rgb(246, 232, 232);
 }

nav ul li:hover{
   
    border-bottom: black solid 5px;
    
}
.nav_list li:hover{
    text-decoration: none;
    background-color: orange;
 }

 .mobile-menu-icone{
    display: none;
 }

.mobile-menu{
    display: none;
}
@media screen and (max-width: 730px){
   
    .nav_items{
        display:none;
    }
    
    .mobile-menu-icone{
        display: block;
    }
    .mobile-menu-icone button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-items{
        display: block;
        padding-top: 1.2rem;
    }
    .open{
        display: block;
    }
}

.primeira_parte{
    background-image: url(img/estampa-papel-de-parede-textura-branca-marmore.jpg);
height: 1000px;
background-repeat: no-repeat;
background-position: cover;
background-size: cover;
}


.hi-slide{
    position: relative;
    width: 754px;
    height: 292px;
    border-radius: 50px;
    margin: 0px auto 0;
    padding-top: 195px;
}

.hi-slide .hi-next{
    position: absolute;
    top: 50%;
}

.hi-slide .hi-next,
.hi-slide .hi-prev{
    position: absolute;
    top: 110%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: all 0.7s;
    font-size: 20px;
    font-weight: bold;
}

.hi-slide .hi-next:hover,
.hi-slide .hi-prev:hover{
    opacity: 1;
    background-color: orange;
}

.hi-slide .hi-prev{
  left: -60px;
}

.hi-slide .hi-prev::before{
    content: '<';
}

.hi-slide .hi-next{
    right: -20px;
}

.hi-slide .hi-next::before{
    content: '>';
}

.hi-slide > ul{
    list-style: none;
    position: relative;
    width: 754px;
    height: 292px;
    margin: 0;
    padding: 0;
}

.hi-slide > ul > li{
    overflow: hidden;
    position: absolute;
    z-index: 0;
    left: 377px;
    top: 147px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 3px solid white;
    cursor: pointer;
    background-color: #333;
}

.hi-slide > ul > li > img{
    width: 100%;
    height: 100%;
    background-position: center;
}

.container_um{
    text-align: center;
    align-items: center;
    margin: 340px 0 0 0;
    font-size: 40px;
    font-weight: normal;
}

.container_um hr{
    border: 3px solid black;
    border-radius: 5px;
    margin-top: 20px;
}

.container_dois{
    margin: 70px 0 0 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_dois_imagens{
    display: flex; 
    gap: 100px;
}

.container_dois_texto{
    display: flex;
    gap: 150px;
    margin-top: 20px;
}


.segunda_parte{
    background-image: url(img/estampa-papel-de-parede-textura-branca-marmore.jpg);
    background-repeat: no-repeat;
background-position: cover;
background-size: cover;
text-align: center;
height: 1000px;
}

.containerh1_segunda_parte{
 text-align: center;
}

.segunda_parte h1{
    display: inline-block;
    padding: 40px;
    border-bottom: 4px solid grey;
    padding-bottom: 5px;
    border-radius: 5px;
    font-size: 45px;
}

.segunda_parte img{
    margin: 40px;
    width: 600px;
}

.segunda_parte p{
    font-size: 38px;
}

.containerp_segunda_parte{
    text-align: center;
   }
   

   #p_dois_segunda_parte{
    display: inline-block;
    margin-top: 20px;
    border-bottom: 4px solid grey;
    padding-bottom: 5px;
    border-radius: 5px;
    font-size: 35px;
    font-weight: bold;
   }

   .terceira_parte{
    background-image: url(img/estampa-papel-de-parede-textura-branca-marmore.jpg);
background-repeat: no-repeat;
background-position: cover;
background-size: cover;
height: 950px;
   }

   .terc_part_div1{
    color: grey;
    margin-left: 50px;
    padding-top: 50px;
    width: fit-content;
   }

   .terc_part_div1 > h2 > .bullet-list{
    margin-right: 5px;
   }

   .terc_part_div1 h2{
font-weight: bold;
font-size: 34px;
}

   .terc_part_div1 hr{
    border: 3px solid rgb(184, 160, 124);
    border-radius: 20px;
    width: 70%;
    margin-top: 10px;
   }




   .terc_part_div3{
    color: grey;
    margin-left: 50px;
    padding-top: 50px;
    width: fit-content;
   }

   .terc_part_div3 > h2 > .bullet-list{
    margin-right: 5px;
   }

   .terc_part_div3 h2{
    font-weight: bold;
    font-size: 34px;
   }

   .terc_part_div3 hr{
    border: 3px solid rgb(184, 160, 124);
    border-radius: 20px;
    width: 70%;
    margin-top: 10px;
   }

   .terc_part_div1{

   }

   .terc_part_div2{
display: flex;
justify-content: space-around;
margin-top: 30px;
   }

   
   .terc_part_div4{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
       }

       footer{
        display: flex;
        justify-content: space-between;
        background-color: #585757;
        color: white;
       }

       footer img{
        width: 20px;
       }